<%- include('partials/header'); -%>
<section id="heading">
  <div class="container-fluid">
    <div class="heading">
      <h1>arek's daily stories.</h1>
    </div>
  </div>
</section>

<body>

  <section id="description">
    <div class="container-fluid">
      <div class="row">
        <% posts.forEach(function(post){ %>
        <div class="description-box col-lg-4 col-md-6">
          <div class="card">
          <div class="card-header">
            <h3><a href="/posts/<%= post._id %>" role="button"><%= post.title %></a></h3>

          </div>
          <div class="card-body">
            <%= post.body.substring(0,300); %> ...
          </div>
        </div>
        </div>
          <% }) %>
      </div>
    </div>
  </section>


<%- include('partials/footer'); -%>
